.outer{
  padding: 5px;
}

div.container{
  width: 43%;

}

.bg-info{
  padding: 5px;
}

#results{
  text-align: center;
  padding: 5px;
  margin-top: 15px;
}

#displaybalance{
  width: 100px;
  border: 1px solid black;
  padding: 7px;
  display: inline-block;
}

button{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  text-align: center;
}